{% extends "layout.html" %}

{% block content %}

<br>
<br>
<br>
<link href="{{ url_for('static', filename='css/login.css')}}" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="{{ url_for('change_pass')}}">¿Olvidaste tu contraseña?</a>
    </div>

    <div id="formFooter">
      <a class="underLineHover" href="{{ url_for('login') }}">¿No tienes cuenta? crea una</a>
    </div>

  </div>
</div>
<br>
<br>


{% endblock %}